<template>
 <header class="App-header">
  <img id="logo" src="../assets/logo.png" class="App-logo" alt="Tanks.vn logo"/>
  <div class="App-title">Tanks.vn</div>
  <div class="App-intro">FB page: <a href='http://facebook.com/tanksvn'>http://facebook.com/tanksvn</a> - Hotline: 085.737.9966</div>
 </header>
</template>

<script>
    export default {
        name: 'Header'
    }
</script>
