@font-face {
    font-family: 'ArmaliteRifle';
    font-style: normal;
    font-weight: 100;
    src: url('./armalite_rifle.ttf');
}

#app {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

body {
    font-family: sans-serif; 
    margin: 0;   
}

.App-header {
    padding-bottom: 20px;
}

.App-title {
    padding: 10px;
    color: #829074;
    font-size: 40px;
    font-family: ArmaliteRifle;
}

.App-intro {
    font-size: large;
}

#logo {
    width: 250px;
}

#footer {
    height: 80px;
    width: 100%;
    background-color: lightblue;
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
}

div.center-div {
    width: 100%;
    text-align: center;
}
ul.center-ul {
    margin: 2px auto;
    line-height: 2;
    padding-left: 0;
}
.center-ul li {
    display: inline;
    text-align: center;
    margin: 15px;
}

li a {
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li.selected-keyword {
    background-color: lightblue;
}